<li>
        <a href="{{ site.introduction }}" class="otherLinkColour">Introduction</a>
</li>
<li>
        <a href="{{ site.architecture }}" class="otherLinkColour">Architecture</a>
        <!-- <ul>
<li><a href="{{ site.architecture }}std-input.html" class="otherLinkColour">Input</a></li>
<li><a href="{{ site.architecture }}image-processing/index.html" class="otherLinkColour">Image
Processing</a>
<ul>
<li><a href="{{ site.architecture }}image-processing/region-predetection.html"
class="otherLinkColour">Region Pre-detection</a></li>
<li><a href="{{ site.architecture }}image-processing/shared-detection.html"
class="otherLinkColour">Shared
Detection</a></li>
<li><a href="{{ site.architecture }}image-processing/barcode-localization.html"
class="otherLinkColour">Barcode Localization</a></li>
<li><a href="{{ site.architecture }}image-processing/barcode-decoding.html"
class="otherLinkColour">Barcode
Decoding</a></li>
<li><a href="{{ site.architecture }}image-processing/textline-localization.html"
class="otherLinkColour">Textline Localization</a></li>
<li><a href="{{ site.architecture }}image-processing/textline-recognition.html"
class="otherLinkColour">Textline Recognition</a></li>
<li><a href="{{ site.architecture }}image-processing/document-detection.html"
class="otherLinkColour">Document Detection</a></li>
<li><a href="{{ site.architecture }}image-processing/document-normalization.html"
class="otherLinkColour">Document Normalization</a></li>
</ul>
</li>
<li><a href="{{ site.architecture }}semantic-processing.html" class="otherLinkColour">Semantic
Processing</a>
</li>
<li><a href="{{ site.architecture }}std-output.html" class="otherLinkColour">Output</a></li>
</ul> -->
</li>
<li>
        <a href="{{ site.parameter }}" class="otherLinkColour">Parameters</a>
        <ul>
                <li><a href="{{ site.parameterFile }}" class="otherLinkColour">Parameter Organization</a>
                        <ul>
                                <li><a href="{{ site.parameterFile }}capture-vision-template.html"
                                                class="otherLinkColour">CaptureVisionTemplate Object</a></li>
                                <li><a href="{{ site.parameterFile }}image-source-options.html"
                                                class="otherLinkColour">ImageSource Object</a></li>
                                <li><a href="{{ site.parameterFile }}target-ROI-def-options/"
                                                class="otherLinkColour">TargetROIDefi Object</a></li>
                                <li><a href="{{ site.parameterFile }}semantic-processing-options/"
                                                class="otherLinkColour">SemanticProcessing Object</a>
                                </li>
                                <li><a href="{{ site.parameterFile }}task-settings/" class="otherLinkColour">Task
                                                Settings</a>
                                        <ul>
                                                <li><a href="{{ site.parameterFile }}task-settings/barcode-reader-task-setting-options.html"
                                                                class="otherLinkColour">BarcodeReaderTaskSetting
                                                                Object</a></li>
                                                <li><a href="{{ site.parameterFile }}task-settings/label-recognizer-task-setting-options.html"
                                                                class="otherLinkColour">LabelRecognizerTaskSetting
                                                                Object</a></li>
                                                <li><a href="{{ site.parameterFile }}task-settings/document-normalizer-task-setting-options.html"
                                                                class="otherLinkColour">DocumentNormalizerTaskSetting
                                                                Object</a></li>
                                                <li><a href="{{ site.parameterFile }}task-settings/code-parser-task-setting-options.html"
                                                                class="otherLinkColour">CodeParserTaskSetting Object</a>
                                                </li>
                                        </ul>
                                </li>
                                <li><a href="{{ site.parameterFile }}image-parameter-array.html"
                                                class="otherLinkColour">ImagePapameter Object</a></li>
                                <li><a href="{{ site.parameterFile }}auxiliary/" class="otherLinkColour">Auxiliary
                                                Settings</a>
                                        <ul>
                                                <li><a href="{{ site.parameterFile }}auxiliary/barcode-format-specification-options.html"
                                                                class="otherLinkColour">BarcodeFormatSpecification
                                                                Object</a></li>
                                                <li><a href="{{ site.parameterFile }}auxiliary/textline-specification-options.html"
                                                                class="otherLinkColour">TextLineSpecification
                                                                Object</a></li>
                                                <li><a href="{{ site.parameterFile }}auxiliary/character-model-array.html"
                                                                class="otherLinkColour">CharacterModel Object</a>
                                                </li>
                                                <li><a href="{{ site.parameterFile }}auxiliary/global-parameter.html"
                                                                class="otherLinkColour">GlobalParameter Object</a></li>
                                        </ul>
                                </li>
                        </ul>
                </li>
                <li><a href="{{ site.parameterReference }}" class="otherLinkColour">Parameter References</a>
                        <ul>
                                <li><a href="{{ site.parameterReference }}barcode-format-ids.html"
                                                class="otherLinkColour">BarcodeFormatIds</a></li>
                                <li><a href="{{ site.parameterReference }}" class="otherLinkColour">Parameter 2</a></li>
                                <li><a href="{{ site.parameterReference }}" class="otherLinkColour">Parameter 3</a></li>
                                <li><a href="{{ site.parameterReference }}" class="otherLinkColour">Parameter 4</a></li>
                                <li><a href="{{ site.parameterReference }}" class="otherLinkColour">Parameter 5</a></li>
                                <li><a href="{{ site.parameterReference }}" class="otherLinkColour">Parameter 6</a></li>
                                <li><a href="{{ site.parameterReference }}" class="otherLinkColour">Parameter 7</a></li>
                        </ul>
                </li>
        </ul>
</li>